<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2 class="uk-text-center uk-card-title">Edycja ustawień</h2>

    <div style="margin-top: 50px">
        <!--/*@thymesVar id="user" type=""*/-->
        <form style="width: 500px; margin: auto" th:action="@{/healthdatas/save}"  th:object="${healthdata}" method="post">
            <div class="uk-margin" style="flex-direction: row; display: flex">
                <label style="padding-left: 15px; width: 200px">Leki:</label>
                <textarea wrap="hard" th:field="*{medicine}" class="uk-textarea" style="width: 500px" type="text"></textarea>
            </div>
            <div class="uk-margin" style="flex-direction: row; display: flex">
                <label style="padding-left: 15px; width: 200px">Grupa krwi:</label>
                <input  th:field="*{bloodType}"class="uk-input" style="width: 500px" type="text">
            </div>
            <div class="uk-margin" style="flex-direction: row; display: flex">
                <label style="padding-left: 15px; width: 200px">Oświadczenie woli:</label>
                <input  th:field="*{declaration}"class="uk-checkbox"  type="checkbox">
            </div>
            <div class="uk-margin" style="flex-direction: row; display: flex">
                <label style="padding-left: 15px; width: 200px">Notatki dotyczące stanu zdrowia:</label>
                <textarea wrap="hard" th:field="*{notes}" class="uk-textarea" style="width: 500px" type="text"></textarea>
            </div>


            <input th:field="*{id}" hidden type="number">
            <a th:href="@{/healthdatas}"><input type="button" value="Anuluj" class="uk-button uk-button-danger"></a>
            <input class="uk-button uk-button-primary" type="submit" value="Zapisz" style="background-color: teal; color: white">



        </form>
    </div>
</div>
</body>
</html>