<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container">
<h2 class="uk-text-center uk-card-title">Dane zdrowotne </h2>

    <div>
    <dl class="uk-description-list uk-description-list-divider" style="max-width: 800px; margin: 50px auto">
        <dt>Leki</dt>
        <dd>Uzupełnij nazwy oraz dawki leków, które zażywasz</dd>
        <dd></dd>
        <dd><td><button class="uk-button uk-button-small" type="button" style="background-color: teal; color: white"><b>Dodaj</b></button></td></dd>
        <dt>Grupa krwi</dt>
        <dd>Podaj swoją grupę krwi</dd>
        <dd></dd>
        <dd><td><button class="uk-button uk-button-small" type="button" style="background-color: teal; color: white"><b>Dodaj</b></button></td></dd>
        <dt>Oświadczenie woli</dt>
        <dd>Czy wyrażasz zgodę, na pobieranie po śmierci swoich narządów do przeszczepu?</dd>
        <dd></dd>
        <dd><td><button class="uk-button uk-button-small" type="button" style="background-color: teal; color: white"><b>Dodaj</b></button></td></dd>
        <dt>Notatki dotyczące stanu zdrowia</dt>
        <dd></dd>
        <dd><td><button class="uk-button uk-button-small" type="button" style="background-color: teal; color: white"><b>Dodaj</b></button></td></dd>
    </dl>
</div>
</div>

</body>
</html>