<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<h2 class="uk-text-center uk-card-title">Wskaźniki</h2>
    <h3 class="uk-heading-line"><span>Wskaźnik BMI</span></h3>
    <p class="uk-text-left uk-text-center">BMI jest wskaźnikiem prostym do obliczenia, aczkolwiek należy pamiętać, że ma on pewne ograniczenia. BMI nie w pełni różnicuje masę ciała związaną z zawartością tłuszczu w organizmie człowieka z ilością mięśni oraz wody, nie uwzględnia także rozmieszczenia tkanki tłuszczowej. Ponadto może nie być wiarygodny, zwłaszcza u osób z rozbudowaną tkanką mięśniową – osoby z dużą ilością tkanki mięśniowej będą miały wysokie BMI, pomimo stosunkowo niewielkiej ilości tkanki tłuszczowej.</p>
    <div class="bmi-container" style="flex-direction: row; display: flex">
        <div style="width: 30%; /*margin-left: 5px; border: red solid 1px*/">
            <h5 class="uk-heading">Zakresy wartości BMI:</h5>
            <h6>mniej niż 16 - wygłodzenie</br>
                16 - 16.99 - wychudzenie</br>
                17 - 18.49 - niedowaga</br>
                18.5 - 24.99 - wartość prawidłowa</br>
                25 - 29.99 - nadwaga</br>
                30 - 34.99 - I stopień otyłości</br>
                35 - 39.99 - II stopień otyłości</br>
                powyżej 40 - otyłość skrajna</h6>
        </div>

        <div class="uk-navbar-container uk-navbar" style="width: 60%">
            <h4 class="uk-heading"><span style="text-align: center; width: 100%; height: 30px">Oblicz swój wskaźnik BMI</span></h4>

            <div style="margin-top: 50px">
                <form id="calculatorBMI" style="width: 500px; margin: auto"  method="post">
                    <div class="uk-margin" style="flex-direction: row; display: flex">
                        <label style="padding-left: 15px; width: 100px"  >Waga (kg):</label>
                        <input  class="uk-input" width="400px" type="number" step="0.01" name="waga">
                    </div>
                    <div class="uk-margin" style="flex-direction: row; display: flex">
                        <label style="padding-left: 15px; width: 100px">Wzrost (cm):  </label>
                        <input  class="uk-input" width="400px" type="number" step="0.01" name="wzrost">
                    </div>
                    <input class="uk-button uk-button-primary" type="submit" style="background-color: teal; color: white" value="Oblicz">

                    <div class="uk-margin" style="flex-direction: row; display: flex">
                        <label style="padding-left: 15px; width: 100px">Wynik:  </label>
                        <p width="400px" type="number" id="resultBMI" th:text="|${#numbers.formatInteger(0, 2)}|"></p> <!--nie działa zaokrąglanie-->
                    </div>
                    <input class="uk-button uk-button-primary" type="submit" style="background-color: teal; color: white" value="Zapisz wynik">
                    <!--<input th:field="*{id}" hidden type="number">-->
                </form>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script >
                    $('#calculatorBMI').submit(function(e) {
                        var wzrost = $("[name='wzrost']").val() / 100,
                            waga = $("[name='waga']").val();

                        var bmi = waga / (wzrost * wzrost) ;

                        $("[id='resultBMI']").html( bmi);
                        e.preventDefault();
                    });
                </script>
                </div>
        </div>
    </div>



    <h3 class="uk-heading-line"><span>Wskaźnik WHR (waist-hip-ratio)</span></h3>
    <p class="uk-text-left uk-text-center">Proste badanie antropometryczne, pomagające w ocenie typu otyłości. WHR to wzajemny stosunek tych pomiarów - informuje nas o tym, czy mamy do czynienia z otyłością brzuszną (typu androidalnego) niosącą ryzyko powikłań metabolicznych, czy też z otyłością pośladkowo-udową (typu gynoidalnego) z mniejszym ryzykiem powikłań zdrowotnych.</p>

    <div class="whr-container" style="flex-direction: row; display: flex">
        <div style="width: 30%">
            <p class="uk-text-left uk-text-bold">Otyłość androidalna:</p>
            <ul class="uk-list">
                <li> kobiety: WHR większy lub równy 0,8</li>
                <li> mężczyźni: WHR większy lub równy 1,0</li>
            </ul>

            <p class="uk-text-left uk-text-bold">Otyłość gynoidalna:</p>
            <ul class="uk-list">
                <li> kobiety: WHR niższy 0,8</li>
                <li> mężczyźni: WHR niższy 1,0</li>
            </ul>

        </div>

        <div class="uk-navbar-container uk-navbar" style="width: 60%">
            <h4 ><span style="width:100%; text-align: center">Oblicz swój wskaźnik WHR</span></h4>
            <div style="margin-top: 50px">
                <form id="calculatorWHR" style="width: 500px; margin: auto" method="post">
                    <div class="uk-margin" style="flex-direction: row; display: flex">
                        <label style="vertical-align: middle; word-break: normal; padding-left: 15px; width:100px">Obwód pasa (cm):</label>
                        <input  class="uk-input" width="400px" type="number" step="0.01" name="pas">
                    </div>
                    <div class="uk-margin" style="flex-direction: row; display: flex">
                        <label style="vertical-align: middle; padding-left: 15px; width:100px">Obwód bioder (cm):  </label>
                        <input  class="uk-input" width="400px" type="number" step="0.01" name="biodra">
                    </div>
                    <input class="uk-button uk-button-primary" type="submit" style="background-color: teal; color: white" value="Oblicz">

                    <div class="uk-margin" style="flex-direction: row; display: flex">
                        <label style="padding-left: 15px; width: 100px">Wynik:  </label>
                        <p width="400px" type="number" id="resultWHR" th:text="|${#numbers.formatInteger(0, 2)}|"></p>
                    </div>
                    <input class="uk-button uk-button-primary" type="submit" style="background-color: teal; color: white" value="Zapisz wynik">
                    <!--<input th:field="*{id}" hidden type="number">-->
                </form>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script >
                    $('#calculatorWHR').submit(function(e) {
                        var pas = $("[name='pas']").val(),
                            biodra = $("[name='biodra']").val();

                        var whr= pas/biodra  ;

                        $("[id='resultWHR']").html( whr);
                        e.preventDefault();
                    });
                </script>
            </div>
</div>
    </div>








</div>
</div>
</body>
</html>