<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<h2 class="uk-text-center uk-card-title">Statystyki</h2>


    <div style="max-width: 800px; margin: 50px auto">
        <canvas id="bar-chart" width="1600" height="900"></canvas>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script th:inline="javascript">
        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
                datasets: [
                    {
                        label: "Population (millions)",
                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                        data: [2478,5267,734,784,433]
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: 'Liczba kroków'
            }
        }
    });
</script>



    ////////////////////////////////
    <h3 class="uk-heading-line"><span>Kroki</span></h3>
    <h3 class="uk-heading-line"><span>Waga</span></h3>
    <h3 class="uk-heading-line"><span>Sen</span></h3>
    <h3 class="uk-heading-line"><span>Woda</span></h3>
    <h3 class="uk-heading-line"><span>Kofeina</span></h3>
    <h3 class="uk-heading-line"><span>Kalorie</span></h3>
    <h3 class="uk-heading-line"><span>Ciśnienie krwi</span></h3>

    <a class="uk-button uk-button-secondary-primary">Dodaj własny wskaźnik</a>

</div>

</body>
</html>