<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<h2 class="uk-text-center uk-card-title">Ustawienia</h2>

    <div class="settings-container" style="flex-direction: row; display: flex">
        <div style="width: 20%;/* margin-left: 5px; border: red solid 1px*/">
            <!--<img src="..." alt="unnamed face" height="200" width="200" style="padding-bottom: 15px" >-->
            <input class="uk-button uk-button-primary" position="auto" width="100px" type="text" value="Edytuj zdjęcie" style="background-color: teal; color: white">
        </div>
        
        <div class="uk-navbar-container uk-navbar" style="width: 80%">
            <table class="uk-table uk-table-small">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>E-mail</th>
                        <th>Wiek</th>
                        <th>Wzrost</th>
                        <th>Waga</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.surname}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.height}"></td>
                            <td th:text="${user.weight}"></td>
                            <td>
                                <a th:href="@{/users/edit/{id}(id=${user.id})}"><input class="uk-button uk-button-primary"
                                                                                       position="auto" width="140px" type="text"
                                                                                       value="Edytuj dane" style="background-color: teal; color: white"></a>
                            </td>
                        </tr>
                    </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>